In [1]:
import sqlite3 as sl

### 1. Connecting to a Database

In [2]:
conn = sl.connect('my_database.sqlite')  # If the database does not exist, then it will be created and finally, a database object will be returned
cursor = conn.cursor()  #is our interface to the database, that allows running anySQL query on our database.
print('opened database successfully!')

opened database successfully!

### 2. Creating a Table

In [ ]:
cursor.execute('''CREATE TABLE SCHOOL(ID INT PRIMARY KEY NOT NULL,
                                        NAME TEXT NOT NULL,
                                        AGE FLOAT NOT NULL,
                                        ADDRESS CHAR(50),
                                        MARKS INT
                                    );'''
              )

### 3. INSERTING records in the TABLE

In [ ]:
cursor.execute("INSERT INTO SCHOOL(ID,NAME,AGE,ADDRESS,MARKS) VALUES(1,'ARYAN','12','PUNE',100)")
conn.commit()

In [4]:
cursor.execute("INSERT INTO SCHOOL(ID,NAME, AGE) VALUES(2,'VIJAY',10)")
conn.commit()

In [5]:
cursor.execute("INSERT INTO SCHOOL(ID,NAME,AGE,MARKS) VALUES(3,'AJAY, PUNE', 22, 85)")
conn.commit()

### 4. SELECTING records from the TABLE

In [23]:
row = cursor.execute("SELECT ID,NAME,AGE,ADDRESS,MARKS FROM SCHOOL")

In [24]:
for records in row:
    print(records)

(1, 'ARYAN', 12.0, 'PUNE', 100)
(2, 'VIJAY', 10.0, None, None)
(3, 'AJAY, PUNE', 22.0, None, 85)

In [25]:
type(row)

sqlite3.Cursor

In [26]:
print(row)

<sqlite3.Cursor object at 0x00000168D45B2110>

In [27]:
for i in row:
    print(i)

### 5. UPDATING Records in the TABLE

In [28]:
conn.execute("UPDATE SCHOOL SET MARKS = 500 WHERE ID = 3")
conn.commit()

### 6. DELETE Operation

In [29]:
conn.execute('DELETE FROM SCHOOL WHERE ID = 3')
conn.commit()